.map-container {
    width: 100%;                   /* Full width container */
    height: 100%;                   /* Full width container */
    display: flex;
    flex-direction: column;         /* Stack input groups vertically */
    gap: 20px;                      /* Space between each input group */
  }
  
  .map-input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .map-input-wrapper {
    display: flex;
    width: 100%;
    align-items: center; /* Align input and button vertically */
  }
  
  .map-input-label {
    color: lightgray;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .map-input-field {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    flex: 1; /* Allow input field to grow to available space */
  }
  
  .map-green-button,
  .map-blue-button {
    width: 20%;
    padding: 8px 15px;
    margin-left: 10px; /* Space between input field and button */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    white-space: nowrap; /* Prevent button text from wrapping */
  }
  
  .map-green-button {
    background-color: green;
  }
  
  .map-blue-button {
    background-color: rgb(61,128,198);
  }
  
  .map-menu{
    padding: 10px;

  }

  .canvas-container {
    position: relative; /* Position relative for absolute child positioning */
  }
  
  .map-zoom-controls {
    position: absolute; /* Positioning in relation to the parent */
    bottom: 10px; /* Space from the bottom */
    left: 10px; /* Space from the left */
    z-index: 10; /* Make sure buttons are above the canvas */
    display: flex; /* Use flexbox to layout buttons */
  }

  .map-style-controls {
    position: absolute; /* Positioning in relation to the parent */
    bottom: 10px; /* Space from the bottom */
    right: 10px; /* Space from the left */
    z-index: 10; /* Make sure buttons are above the canvas */
    display: flex; /* Use flexbox to layout buttons */
  }
  
  .map-plus-button,
  .map-minus-button,
  .toggle-map-satellite{
    background-color: rgb(61,128,198); /* Set button background to blue */
    color: white; /* Set text color to white */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Padding around text */
    font-size: 20px; /* Font size for plus/minus signs */
    cursor: pointer; /* Change cursor to pointer */
    margin: 0 5px; /* Margin between buttons */
    min-width: 50px;
    min-height: 20px;
  }
  
  .map-plus-button:hover,
  .map-minus-button:hover {
    background-color: darkblue; /* Darker blue on hover */
  }


.toggle-map-style img {
    width: 24px; /* Adjust the size as needed */
    height: 24px; /* Adjust the size as needed */
    width: 50px;
    height: 50px;
}
  